.message-send {
  float: right;
}
.message-recive{
  float: left;
}
.box-style{
  box-shadow: 0 10px 8px 5px rgba(0, 0, 0, 0.1);
  width: 50%;
  padding: 5px;
  border-radius: 10px;
  margin: 10px;
}
.logo-social{
  width: 25px !important;
  height: 25px;
  margin-right: 5px;
  border-radius: 50%;
}
@media screen and (max-width: 746px) {
  .box-style{
    width: 100%;
  }
}